<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Servlets -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDAO</servlet-name>
        <servlet-class>dao.BookDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAllBooksController</servlet-name>
        <servlet-class>controller.showAllBooksController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveController</servlet-name>
        <servlet-class>controller.RemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderController</servlet-name>
        <servlet-class>controller.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAccountDetailsController</servlet-name>
        <servlet-class>controller.ChangeAccountDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAddressController</servlet-name>
        <servlet-class>controller.ChangeAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>controller.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDetailsController</servlet-name>
        <servlet-class>controller.HistoryDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>controller.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeaturedBookController</servlet-name>
        <servlet-class>controller.FeaturedBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksDetailsController</servlet-name>
        <servlet-class>controller.BooksDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffController</servlet-name>
        <servlet-class>controller.AddStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>controller.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllBookController</servlet-name>
        <servlet-class>controller.ShowAllBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreControl</servlet-name>
        <servlet-class>controller.LoadMoreControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreBooksServlet</servlet-name>
        <servlet-class>controller.LoadMoreBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreBooksController</servlet-name>
        <servlet-class>controller.LoadMoreBooksController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBookController</servlet-name>
        <servlet-class>controller.GetBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookController</servlet-name>
        <servlet-class>controller.AddBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveOrderController</servlet-name>
        <servlet-class>controller.ApproveOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookController</servlet-name>
        <servlet-class>controller.DeleteBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenyOrderController</servlet-name>
        <servlet-class>controller.DenyOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePriceController</servlet-name>
        <servlet-class>controller.SavePriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveQuantityController</servlet-name>
        <servlet-class>controller.SaveQuantityController</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>CreateStaffController</servlet-name>
        <servlet-class>controller.CreateStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>controller.ChangeStatusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDAO</servlet-name>
        <url-pattern>/BookDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAllBooksController</servlet-name>
        <url-pattern>/showAllBooksController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveController</servlet-name>
        <url-pattern>/RemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderController</servlet-name>
        <url-pattern>/ConfirmOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAccountDetailsController</servlet-name>
        <url-pattern>/ChangeAccountDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAddressController</servlet-name>
        <url-pattern>/ChangeAddressController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/HistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDetailsController</servlet-name>
        <url-pattern>/HistoryDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/CancelOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeaturedBookController</servlet-name>
        <url-pattern>/FeaturedBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksDetailsController</servlet-name>
        <url-pattern>/BooksDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffController</servlet-name>
        <url-pattern>/AddStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/BookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllBookController</servlet-name>
        <url-pattern>/ShowAllBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreControl</servlet-name>
        <url-pattern>/LoadMoreControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreBooksServlet</servlet-name>
        <url-pattern>/LoadMoreBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreBooksController</servlet-name>
        <url-pattern>/LoadMoreBooksController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBookController</servlet-name>
        <url-pattern>/GetBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookController</servlet-name>
        <url-pattern>/AddBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveOrderController</servlet-name>
        <url-pattern>/ApproveOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookController</servlet-name>
        <url-pattern>/DeleteBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenyOrderController</servlet-name>
        <url-pattern>/DenyOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePriceController</servlet-name>
        <url-pattern>/SavePriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveQuantityController</servlet-name>
        <url-pattern>/SaveQuantityController</url-pattern>
    </servlet-mapping>
    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Session Configuration -->
    <servlet-mapping>
        <servlet-name>CreateStaffController</servlet-name>
        <url-pattern>/CreateStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/ChangeStatusController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
